@media screen and (min-width: 52rem) {
    .card {
        width: 55vw;
        display: flex;
        align-self: center;
        justify-content: space-between;
        background-color: white;
        /* padding: 1rem; */
        border-radius: 1rem;
    }
}