@font-face {
  font-family: 'PlusJakartaSans-Bold';
  src: url('/assets/fonts/static/PlusJakartaSans-Bold.ttf');
}

@font-face {
  font-family: 'PlusJakartaSans-Medium';
  src: url('/assets/fonts/static/PlusJakartaSans-Medium.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  font-family: 'PlusJakartaSans-Medium';
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@media screen and (min-width: 52rem) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}