.results-heading{
    color: white;
}

.results-paragraph {
    color: hsl(202, 86%, 94%);
}

.results {
    background-color: hsl(202, 55%, 16%);
}

.results-display {
    background-color: #0E2431;
    padding: 1.5rem;
    border-radius: 1rem;
    border-top: 5px solid hsl(61, 70%, 52%);
}

.results-paragraph-populated {
    margin-bottom: 2rem;
}

.results-divider {
    border: none;
    border-top: 1px solid #757575;
    width: 95%;
    margin: 1rem auto;
}

.total-display {
    color: hsl(61, 70%, 52%);
}

.results-total {
    color: white;
    font-size: 2rem;
}

/*************************/
/* MOBILE STYLING */
/*************************/
@media screen and (max-width: 52rem){
    .results {
        padding: 2rem;
    }

    #results-empty-heading, #results-empty-paragraph {
        text-align: center;
    }

    .results-empty-img {
        margin: auto;
    }

    .total-display {
        font-size: 3rem;
    }
}

/*************************/
/* DESKTOP STYLING */
/*************************/
@media screen and (min-width: 52rem) {
    .results {
        border-radius: 0 1rem 1rem 4rem;
    }

    .results-empty {
        text-align: center;
        padding: 5rem 2rem 0 2rem;
    }

    .results-populated {
        padding: 2rem
    }

    .results-empty-img {
        margin: auto;
    }

    .results-heading {
        margin-bottom: 1rem;
    }

    .results-paragraph-populated {
        margin-bottom: 2rem;
    }

    .total-display {
        font-size: 4.5rem;
    }

    .results-total {
        color: white;
        font-size: 2rem;
    }
}